.app_narbar{
    display: flex;
    height: 10vh;
    justify-content: space-between;
}
.narbar{
    display: block;
    flex-direction: row;
    list-style: none;
    align-items: center;
    text-align: center;
}
ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 80px;
}
.imagem>img{
    border-bottom: 8px #000007;
}
ul>img{    
    position: relative;
    top: -80px;
    margin-bottom: -2rem;
    transform: scale(1.3);
}
li{
    font-style: normal;
    font-weight: bold;
    color: #14C7E0;
    font-weight: bold;
    font-size: 25px;
    line-height: 23px;
    gap: 3rem;
    cursor: pointer;
}
