* {
    margin: 0;
}
.banner_imagem>img{
    max-width: 100%;
    min-width: 100%;
    border-bottom: 3px solid #14C7E0;
}

.navbar>ul{
    position: relative;
    color: #14C7E0;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-around;
    list-style: none;
    cursor: pointer;
    font-family: 'Lilita one';
    font-size: 1.3rem;
    font-weight: 300;
    margin: 0;
}
.navbar>ul>img{
    position: relative;
    top: -65px;;
    /* background-color: #14C7E0; */
}